<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
<body ng-app="LunchCheck">
   <div class="container"ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"ng-model="lunchText" ><!--Doesn't Consider an empty element -->
             Doesn't consider an empty element
         </div>
         <div class="form-group">
             <button class="btn btn-default"ng-click="lunchSubmit()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{Message}}
           <!-- Your message can go here. -->
         </div>
   </div>

</body>
</html>
